.container-#{$columns},
.container-fluid {
	@include ctn-auto();
	padding: 0 10px;
}

	.container-#{$columns} {
		width: container();
	}

	.container-fluid {
		max-width: container();
	}

@for $i from 1 through $columns {

	.grid-#{$i} {
		width: span($i);
	}

	.fluid-#{$i} {
		width: 100% / $columns * $i;

		@include breakpoint($tablet) {
			width: 100%;	
		}
	}

}

/* Golder Ratio Grid */
.ratio-A {
	width: 61.8%;
}

.ratio-B {
	width: 38.2%;
}

.grid-full {
	width: 1180px;
}